@use "../includes" as *;

.navbar {
  .navbar {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(8) 0;
      margin-bottom: $section-margin-bottom;
    }
  
    &__logo {
      figure {
        cursor: pointer;
        transition: opacity $transition-standard;
  
        img {
          width: 100%;
          max-width: rem(128);
        }
  
        &:hover {
          opacity: $opacity-standard;
        }
      }
    }
  
    &__links,
    &__buttons {
      display: inline-flex;
      gap: rem(16);
      align-items: center;
    }
  
    &__links {
      .ff-button {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  
    &__buttons {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__mobile {
      position: fixed;
      top: $navbar-mobile-top;
      left: 0;
      z-index: 10;
      display: none;
      flex-direction: column;
      gap: $navbar-mobile-gap;
      height: $navbar-mobile-height;
      padding: rem(16);
      background: $black-light;
      border-radius: $navbar-mobile-border-radius;

      &--actions,
      &--auth {
        display: inline-flex;
        flex-direction: column;
        gap: $navbar-mobile-gap;

        .ff-button {
          text-align: left;
        }
      }

      &--close {
        display: none;
        flex-direction: column;
        gap: rem(8);
        align-items: flex-end;
        justify-content: center;
        width: $navbar-mobile-btn-close-size;
        height: 100%;
        padding: rem(8);
        cursor: pointer;
        border: none;
        border-radius: $border-radius-inner;
        outline: none;

        &-bar {
          display: inline-block;
          width: 100%;
          height: rem(2);
          background-color: $white;
          border-radius: rem(2);
          transition: width $transition-standard;
        }

        @include media-breakpoint-down(md) {
          display: inline-flex;
        }

        &.active {
          .navbar__mobile--close-bar {
            &:nth-child(2) {
              width: 75%;
            }

            &:nth-child(3) {
              width: 50%;
            }
          }
        }
      }

      &.active {
        display: flex;
      }

      @include media-breakpoint-up(md) {
        display: none !important;
      }
    }
  }
}

.header {
  flex: 1 0 0;

  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
