@use "./functions" as *;

// Standards
$transition-standard: 300ms cubic-bezier(.05, .03, .35, 1);
$border-radius-inner: responsive-values(8, 12);
$border-radius-outer: responsive-values(24, 26);
$section-margin-bottom: rem(16);
$max-width-standard: breakpoint(xxl);
$container-padding: rem(16);
$opacity-standard: 80%;
$opacity-full: 100%;
$opacity-half: 50%;

/* Colors */
$transparent: transparent;
$white: white;
$purple: rgb(143 124 236);
$black: rgb(36 36 36);
$black-light: rgb(36 32 38);
$gray: rgb(91 91 91);
$red: red;

/* Typography */
$text-light: 400;
$text-medium: 500;
$text-bold: 600;
$text-bolder: 700;
$text-line-height: 1.2;
$text-letter-spacing: rem(2);
$font-h1: rem(32);
$font-h2: rem(24);
$font-h3: rem(16);
$font-small: rem(12);
$font-medium: rem(14);
$font-large: rem(16);

/* Buttons */
$button-color-primary: $purple;
$button-color-secondary: $white;
$button-border-radius: $border-radius-inner;
$button-border: rem(2) solid $purple;
$button-font-size: rem(16);
$button-font-weight: $text-medium;
$button-padding: rem(8 16);
$button-box-shadow: 0 0 rem(16) $button-color-primary;
$button-tertiary-box-shadow: rem(0 0 16 4) $button-color-primary;

/* Text Field */
$textfield-color: $white;
$textfield-border: solid $textfield-color;
$textfield-background: $transparent;
$textfield-container-padding: rem(8 0 0 0);
$textfield-input-padding: rem(4);
$textfield-font-size-small: $font-small;
$textfield-font-size-medium: $font-medium;
$textfield-font-size-large: $font-large;
$textfield-font-size-label-small: $textfield-font-size-small;
$textfield-font-size-label-medium: $textfield-font-size-medium;
$textfield-font-size-label-large: $textfield-font-size-large;
$textfield-font-size-label-active: calc($textfield-font-size-large / 2);

/* AUTH */
$login-container-width: breakpoint(xs);
$login-container-bg-color: $black-light;
$login-container-padding: rem(16) rem(24) rem(24); 
$login-container-box-shadow: rem(0 24 32) rgba($purple, 0.5);

/* Scoreboard */
$scoretable-bg-color: rgba($black, 0.9);

/* Toastify */
$toastify-color-light: white;
$toastify-color-dark: rgb(18 18 18);
$toastify-color-info: rgb(52 152 219);
$toastify-color-success: rgb(7 188 12);
$toastify-color-warning: rgb(241 196 15);
$toastify-color-error: rgb(231 76 60);
$toastify-color-transparent: rgb(255 255 255 / 70%);
$toastify-icon-color-info: $toastify-color-info;
$toastify-icon-color-success: $toastify-color-success;
$toastify-icon-color-warning: $toastify-color-warning;
$toastify-icon-color-error: $toastify-color-error;
$toastify-toast-width: 320px;
$toastify-toast-offset: 16px;
$toastify-toast-top: max($toastify-toast-offset, env(safe-area-inset-top));
$toastify-toast-right: max($toastify-toast-offset, env(safe-area-inset-right));
$toastify-toast-left: max($toastify-toast-offset, env(safe-area-inset-left));
$toastify-toast-bottom: max($toastify-toast-offset, env(safe-area-inset-bottom));
$toastify-toast-background: white;
$toastify-toast-min-height: 64px;
$toastify-toast-max-height: 800px;
$toastify-toast-bd-radius: 6px;
$toastify-font-family: sans-serif;
$toastify-z-index: 9999;
$toastify-text-color-light: rgb(117 117 117);
$toastify-text-color-dark: white;
$toastify-text-color-info: white;
$toastify-text-color-success: white;
$toastify-text-color-warning: white;
$toastify-text-color-error: white;
$toastify-spinner-color: rgb(97 97 97);
$toastify-spinner-color-empty-area: rgb(224 224 224);
$toastify-color-progress-light: linear-gradient(
  to right,
  rgb(76 217 100),
  rgb(90 200 250),
  rgb(0 122 255),
  rgb(52 170 220),
  rgb(88 86 214),
  rgb(255 45 85)
);
$toastify-color-progress-dark: rgb(187 134 252);
$toastify-color-progress-info: $toastify-color-info;
$toastify-color-progress-success: $toastify-color-success;
$toastify-color-progress-warning: $toastify-color-warning;
$toastify-color-progress-error: $toastify-color-error;
$toastify-color-progress-bgo: 0.2;
