.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color-input, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    width: 25rem;
    background-color: $bg-input;
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 1rem;
    border: 0.3rem solid cornflowerblue;

    .message {
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-input;
      text-transform: capitalize;
    }

    .btn-close {
      height: 2.5rem;
      width: 5rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 1rem;
      background-color: transparent;
      color: $color-input;
      border: 0.15rem solid cornflowerblue;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: cornflowerblue;
        color: $bg-input;
      }
    }
  }
}