@use "includes" as *;

.auth-form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  .auth-form {
    &__heading {
      margin-bottom: $section-margin-bottom;
      text-align: center;
    }

    &__container {
      width: $login-container-width;
      padding: $login-container-padding;
      background-color: $login-container-bg-color;
      border-radius: $border-radius-outer;
      box-shadow: $login-container-box-shadow;
    }

    &__item {
      margin-bottom: $section-margin-bottom;
    }
    
    &__button {
      display: flex;
      gap: rem(16);
      align-items: center;
      justify-content: space-between;
      margin: rem(32 0 0 0);

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      &--new {
        display: inline-flex;
        flex-direction: column;
        gap: rem(8);
        align-items: center;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
