@use "includes" as *;

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body {
  color: $white;
  background-color: $black;
  background-image: url('/images/bg-header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;

  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-size: $font-h1;
  font-weight: $text-bold;
}

h2 {
  font-size: $font-h2;
  font-weight: $text-bold;
}

h3 {
  font-size: $font-h3;
  font-weight: $text-bold;
}

p,
a,
li,
span,
div {
  font-size: $font-small;
  font-weight: $text-light;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: $max-width-standard;
  min-height: 100dvh;
  padding: 0 responsive-values(16, 32);
  margin: 0 auto;
}
