:root {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: $text-light;
    line-height: $text-line-height;
    color: $white;
    color-scheme: light dark;
    background-color: $black;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    &::before,
    &::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

a {
    text-decoration: none;
}

.container {
    max-width: $max-width-standard;
    margin: 0 auto;
}