@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color-game;
  color: $color;
  font-family: 'Nunito Sans', sans-serif;
}

input {
  font-family: inherit;
}

.bg-hover {
  background-color: $btn-hover !important;
}

.animal-memory {
  display: flex;
  flex-direction: row;
  max-width: 90rem;
  min-width: 23rem;
  margin: 0 auto;

  .container {
    flex-basis: 75%;
  }

  .leaderboard {
    flex-basis: 25%;
  }
}

.difficulty-selection {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  .button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;

    &.selected,
    &:hover {
      background-color: $btn-hover;
    }
  }
}

@media (max-width: 52rem) {
  body {
    background: none;
    height: auto;
    overflow-y: auto;
  }
  .animal-memory {
    display: block;
  }

  .difficulty-selection {
    flex-wrap: wrap;
    .button {
      flex-basis: 40%;
    }
  }
}
