@use "includes" as *;

.counter {
  margin-bottom: $section-margin-bottom;
  
  .counter {
    &__container {
      display: flex;
      justify-content: space-between;
      max-width: 30rem;
      margin: 0 auto;
    }

    &__moves,
    &__timer {
      display: flex;
      gap: 0.5rem;

      &--text,
      &--value {
        font-size: 1rem;
        opacity: $opacity-standard;
      }

      &--text {
        &::after {
          display: inline-block;
          content: ":";
        }
      }
    }
  }
}