@use "includes" as *;

.difficulty-selector {
  flex: 1 0 0;
  height: 100%;
  
  .difficulty-selector {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    &__button {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      cursor: pointer;
      background: $gray;
      border: none;
      border-radius: 1rem;
      outline: none;
      transition: all $transition-standard;

      &--name {
        font-size: $font-size-h3;
        font-weight: $text-bold;
        text-transform: capitalize;
      }
      
      &--size {
        font-size: 0.8rem;
        font-weight: $text-medium;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}