.scoreboard {
  .scoreboard {
    &__container {
      max-width: 36rem;
      margin: 0 auto;

      .score-difficulty {
        &__container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
        }

        &--button {
					padding: 0.5rem 1rem;
          font-size: $font-size-h3;
          font-weight: $text-bold;
          cursor: pointer;
          background: $gray;
          border: none;
					border-radius: 1rem;
          transition: all $transition-standard;
					
					&.active {
						background: $purple;
					}

          &:hover:not(.active) {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
