@use "includes" as *;

.scoreboard {
  .scoreboard {
    &__container {
      max-width: 36rem;
      margin: 0 auto;

      .score-difficulty {
        margin-bottom: $section-margin-bottom;

        .score-difficulty {
          &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: $container-padding;
            background-color: $black-light;
            border-radius: $border-radius-outer;
          }
        }
      }

      .scoretable {
        .scoretable {
          &__table {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            background-color: $scoretable-bg-color;
            border-radius: 1rem;

            @include media-breakpoint-up(lsx) {
              border-radius: 50%;
            }
            
            &--header-cell {
              padding-bottom: 1rem;
            }

            &--cell {
              padding: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}
