@use "includes" as *;

.scoreboard {
  .scoreboard {
    &__container {
      max-width: 36rem;
      margin: 0 auto;

      .score-difficulty {
        margin-bottom: $section-margin-bottom;

        .score-difficulty {
          &__container {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: responsive-values(16, 32);
            place-items: center center;
            padding: $container-padding;
            background-color: $black-light;
            border-radius: $border-radius-outer;

            .ff-button {
              width: 100%;
            }
            
            @include media-breakpoint-down(md) {
              grid-template-rows: repeat(2, 1fr);
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }

      .scoretable {
        .scoretable {
          &__table {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            text-align: center;
            text-transform: capitalize;
            background-color: $scoretable-bg-color;
            border-radius: $border-radius-outer;
            
            &--header-cell {
              padding: 0 0.5rem 1rem;
            }

            &--cell {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
}
