/* stylelint-disable selector-class-pattern */
.Toastify {
  &__toast-body {
    gap: 1rem;
  }

  &__toast-icon {
    margin: 0;

    span {
      font-size: 1.5rem;
    }
  }
}
/* stylelint-enable selector-class-pattern */
