
$bg-body: #413C69;
$color-text: #AD62AA;
$button-color: #AD62AA;
$button-hover: #4A47A3;
$color-table-row: #AD62AA;
$bg-table-row: #4A47A3;
$bg-input: #413C69;
$color-input: #df8fdc;
$bg-card: #4A47A3;
$box-shadow: 0rem 0rem 0.5rem 0rem #AD62AA;
$box-shadow-inset: 0rem 0rem 0.5rem 0rem#AD62AA inset;
