$bg-input: #fdfdfd;
$color-input: #888888;
$color: #202020;
$btn-hover: rgba(0, 0, 0, 0.1);
$bg-color-game: lightgreen;
$bg-color-leaderboard: coral;
$bg-LDS: red;
$bg-GDS: limegreen;
$bg-LP: orange;
$bg-LPL: lightsalmon;
$bg-LN: dodgerblue;
$bg-LNL: lightblue;
$bg-LT: mediumspringgreen;
$bg-LTL: mediumaquamarine;